{% extends "_base.html" %}
{% block title %}Iniciar sesión{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<p>Ya estás ingresado</p>
{% else %}
  <div class="p-4">
    <div class="container border rounded shadow-sm p-4">
      <form>
        <div class="mb-3">
          <label class="form-label" for="{{form.login.id_for_label}}">Correo Electrónico</label>
          <input id="{{form.login.id_for_label}}" name="{{form.login.name}}" type="email"  class="form-control form-control-lg"/>
        </div>
        <div class="mb-3">
          <label class="form-label" for="{{form.password.id_for_label}}">Contraseña</label>
          <input id="{{form.password.id_for_label}}" name="{{form.password.name}}" type="password" class="form-control form-control-lg" />
        </div>
        <button class="btn btn-info btn-lg btn-block" type="submit">Login</button>
        {% if form.errors %}
            <div class="alert alert-danger mt-3">
              <strong>Error:</strong> Please correct the following issues and try again.
                <ul>
                  {% for field, error_list in form.errors.items %}
                      {% for error in error_list %}
                        <li>{{ field|title }}: {{ error }}</li>
                      {% endfor %}
                  {% endfor %}
                </ul>
            </div>
          {% endif %}
          <p class="small mb-5 pb-lg-2"><a class="text-muted" href="{% url 'account_reset_password' %}">¿Olvidó su contraseña?</a></p>
          <p>No tienes una cuenta? <a href="{% url 'account_signup' %}" class="link-info">Registrate aquí</a></p>
      </form>
    </div>
  </div>
{% endif %}
{% endblock content %}