<!DOCTYPE html> 

<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <title>Log In</title>
    </head>

    <body>
        <section class="vh-100">
            <div class="container-fluid">
              <div class="row" style=" display: flex; justify-content: center; align-items: center;">
                 <div class="col-sm-6 text-black d-flex flex-column align-items-center">
          
                  <div style="margin-bottom: 100px;">
                    <i class="fas fa-hotel fa-3x" style="color: #709085;"></i>
                    <span class="h1 fw-bold mb-0">  Hotel</span>
                  </div>
          
                  <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5" >
          
                    <form style="width: 23rem;">
          
                      <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Iniciar Sesión</h3>
          
                      <div class="form-outline mb-4">
                        <input type="email" id="form2Example18" class="form-control form-control-lg" />
                        <label class="form-label" for="form2Example18">Correo Electrónico</label>
                      </div>
                      <div class="form-outline mb-4">           
                        <input type="password" id="form2Example28" class="form-control form-control-lg" />
                        <label class="form-label" for="form2Example28">Contraseña</label>
                      </div>
          
                      <div class="pt-1 mb-4">
                        <button class="btn btn-info btn-lg btn-block" type="button">Login</button>
                      </div>
          
                      <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">¿Olvidó su contraseña?</a></p>
                      <p>No tiene una cuenta? <a href="#!" class="link-info">Registrate aquí</a></p>
          
                    </form>
          
                  </div>
                </div>
                <div class="col-sm-6 px-0 d-none d-sm-block">
                  <img src="https://a.cdn-hotels.com/gdcs/production163/d388/db5ed03c-2495-4df7-997a-41c985888ca0.jpg"
                    alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
                </div>
              </div>
            </div>
          </section>
    </body>
</html>
