<h1>Custom password reset</h1>

<!-- When you don't specify an action attribute in your form, the browser submits the form to the current URL. In the case of the login page, the form will be submitted to the URL associated with the LoginView.-->
{% if user.is_authenticated %}
<p>Note: you're already logged in as {{user}}</p>
{% endif %}
<p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
<form method="post">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">Sign Up</button>
</form>