{% extends '_base.html' %}
{% block title %}Recuperar cuenta{% endblock title %}
{% load i18n %}

{% block content %}
<h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Recuperar cuenta</h3>
<!-- When you don't specify an action attribute in your form, the browser submits the form to the current URL. In the case of the login page, the form will be submitted to the URL associated with the LoginView.-->
{% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
            {% blocktrans %}El link de cambiar contraseña ha expirado. Por favor pida un <a href="{{ passwd_reset_url }}">nuevo cambio de contraseña</a>.{% endblocktrans %}
        </p>
{% else %}
<form method="post">
    {% csrf_token %}
    <div class="form-group mb-4">
        <label class="form-label" for="{{form.password1.id_for_label}}">Nueva contraseña</label>
        <input id="{{form.password1.id_for_label}}" name="{{form.password1.name}}" type="password"  class="form-control form-control-lg"/>
    </div>
    <div class="form-group mb-4">
        <label class="form-label" for="{{form.password2.id_for_label}}">Nueva contraseña (denuevo)</label>
        <input id="{{form.password2.id_for_label}}" name="{{form.password2.name}}" type="password"  class="form-control form-control-lg"/>
    </div>
    <button class="btn btn-info btn-lg btn-block" type="submit">Cambiar contraseña</button>
</form>
{% if form.errors %}
    <div class="alert alert-danger mt-3">
        <strong>Error:</strong> Please correct the following issues and try again.
            <ul>
                {% for field, error_list in form.errors.items %}
                    {% for error in error_list %}
                        <li>{{ field|title }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
                </ul>
    </div>
{% endif %}
{% endif %}
{% endblock content %}