<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="C:\Users\pablo\Desktop\Reserva Hotel - Análisis y Diseño\User Registration\user_registration.css">
    <title>Registrarse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
  
</head>
<body>
  <div class="layer">
  </div>
    <div class="container">
      <h1>Registrarse</h1>
      <form id="registrationForm">
        <label for="fullName">Nombre Completo:</label>
        <input type="text" id="fullName" name="fullName" required>
        
        <label for="gender">Género:</label>
        <select id="gender" name="gender" required>
          <option value="" disabled selected>Seleccione una opción</option>
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
        </select>
        
        <label for="idCard">Cédula:</label>
        <input type="text" id="idCard" name="idCard" required>
        
        <label for="address">Dirección:</label>
        <input type="text" id="address" name="address" required>
        
        <label for="city">Ciudad:</label>
        <input type="text" id="city" name="city" required>
        
        <label for="postalCode">Código Postal:</label>
        <input type="text" id="postalCode" name="postalCode" required>
        
        <label for="country">País:</label>
        <input type="text" id="country" name="country" required>
        
        <label for="phone">Teléfono:</label>
        <input type="text" id="phone" name="phone" required>
        
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" name="email" required>
        
        <button type="submit">Registrarse</button>
      </form>
    </div>
    
    
  </body>
</html>