{% extends '_base.html' %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
<div class="bg-light p-4">
  <div class="container border rounded p-4 shadow-sm bg-light">
    <form method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      <div class="row pb-4">
        <div class="col md-6">
          <h2>Registrate</h2>
        </div>
        <div class="col md-6">
        </div>
      </div>

      <div class="row">

        <div class="form-group col-md-6">
           <!-- Dirección de email -->
          <label for="{{form.email.id_for_label}}">Email</label>
          <input placeholder="ejemplo@email.com" id="{{form.email.id_for_label}}" name="{{form.email.name}}" type="email"  class="form-control form-control-lg" required/>
        </div>

        <div class="form-group col-md-6">
          <!-- Nombre -->
          <label for="{{form.name.id_for_label}}">Nombre</label>
          <input placeholder="nombre" id="{{form.name.id_for_label}}" name="{{form.name.name}}" type="text" class="form-control" required>
        </div>

      </div>

      <div class="row">

        <div class="form-group col md-6">
          <label for="{{form.last_name.id_for_label}}">Apellidos</label>
          <input placeholder="Apellidos" id="{{form.last_name.id_for_label}}" name="{{form.last_name.name}}" type="text"  class="form-control form-control-lg" required/>
        </div>

        <div class="form-group col md-6">
          <label for="{{form.phone_number.id_for_label}}">Teléfono</label>
          <input placeholder="999-999-9999" id="{{form.phone_number.id_for_label}}" name="{{form.phone_number.name}}" type="number" class="form-control" req\>
        </div>

      </div>

      <div class="row">

        <div class="form-group col md-6">
          <!--Fecha de Nacimiento-->
          <label for="{{form.birthdate.id_for_label}}">Fecha de nacimiento</label>
          <input placeholder="Fecha de Nacimiento" id="{{form.birthdate.id_for_label}}" 
          name="{{form.birthdate.name}}" type="date"  class="form-control form-control-lg" required/>
        </div>

        <div class="form-group col md-6">
           <!--Pais-->
          <label for="{{form.country.id_for_label}}">País</label>
          <select style="font-size: 16px" id="{{form.country.id_for_label}}"  name="{{form.country.name}}" 
          type="{{form.country.field.widget.type}}"  class="form-control form-control-lg" required>
            {% include '_countries.html' %}
          </select>
        </div>

      </div>
      
      <div class="row">
        <!--Contraseña-->
        <div class="form-group col md-6">
          <label for="{{form.password1.id_for_label}}">Contraseña</label>
          <input placeholder="Contraseña" id="{{form.password1.id_for_label}}" 
          name="{{form.password1.name}}" type="password" class="form-control form-control-lg" required />
        </div>
      
      <div class="form-group col md-6">
      </div>
      <div class="form-group col md-6">
      </div>

      <div class="row">
        <div class="col md-6">
        </div>

        <div class="col md-6 text-center">
          <button type="submit" class="btn btn-success btn-lg">Registrarse</button>
        </div>

      </div>
      {% if form.errors %}
            <div class="alert alert-danger mt-3">
              <strong>Error:</strong> Please correct the following issues and try again.
                <ul>
                  {% for field, error_list in form.errors.items %}
                      {% for error in error_list %}
                        <li>{{ field|title }}: {{ error }}</li>
                      {% endfor %}
                  {% endfor %}
                </ul>
            </div>
        {% endif %}
    </form>
  </div>
</div>
{% endblock content %}