{% extends '_base.html' %}
{% block title %}Confirmar reservación{% endblock title %}

{% block content %}
<h1>Tu estadia</h1>
{{user_reservation}}
<h1>Detalles del huésped</h1>
{{user_reservation.guest}}
<p>Para confirmar la reservación, pague</p>
<form action="{% url 'confirm_reservation_done' user_reservation.uuid %}" method="post">
    {% csrf_token %}
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ stripe_key }}"
    data-description="{{user_reservation}}"
    data-amount="{{ stripe_price }}"
    data-label = "Paga con tarjeta"
    data-locale="auto">
    </script>
</form>
    

{% endblock content %}