{% extends '_base.html' %}

{% block title %}Tu estadia{% endblock title %}

{% block content %}
<h1>Tu estadia</h1>
<p>Habitacion: {{user_reservation.room_type}}</p>
<p>Check in: {{user_reservation.check_in_date}} a las 13:00, Check out: {{user_reservation.check_out_date}}</p>
<p>Noches: {{user_reservation.nights}}</p>
<p>Precio: {{user_reservation.reservation_price}}</p>
<p>Impuestos: {{user_reservation.taxes}}</p>
<p>Precio total: {{user_reservation.total_price}}</p>
<a href="{% url 'guest_details' user_reservation.uuid %}">Siguiente paso</a>
{% endblock content %}