{% extends '_base.html' %}

{% block title %}{{ room.type }}{% endblock title %}

{% block content %} 
    <div class="pt-4 pb-4">
        <div class="container shadow bg-light border-dark rounded p-4 ">
            <!-- Upper row -->
            <div class="row">
                <!-- Left column -->
                <div class="col-md-6">
                    <div class="row">
                        <h2>{{ room.type }}</h2>
                    </div>
                    <div class="row pt-4">
                        <p>{{ room.description }}</p>
                    </div>
                </div>
                
                <!-- Right column -->
                <div class="col-md-6 p-4">
                    <div id="carouselExampleIndicators" class="carousel slide shadow" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            {% for image in room.images.all %}
                                    {% if  not forloop.last %}
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter }}" aria-label="Slide {{ forloop.counter|add:1 }}"></button>
                                    {% endif %}
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{ room.images.all.0.image.url }}" class="rounded d-block w-100" alt="{{ room.images.all.0.alt }}">
                            </div>
                            {% for image in room.images.all %}
                                {% if not forloop.first %}
                                    <div class="carousel-item">
                                        <img src="{{ image.image.url }}" class="rounded d-block w-100" alt="{{ image.alt }}">
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
    
            <!-- Lower row-->
            <div class="row pt-4">
                <div class="col-md-6">
                    <div class="card border border-dark" style="width: 38rem; height: 100%;">
                        <div class="card-body">
                          <h5 class="card-title text-center pb-4">Detalles de habitación</h5>
                          <div class="d-flex align-items-center">
                            <ul class="list-unstyled mx-lg-5">
                                {% for feature in room.features.all %}
                                    {% if forloop.counter <= 3 %}
                                        <li class="mb-4">
                                            <div class="d-flex align-items-center">
                                                <i class="{{ feature.feature.icon }}" style="color: gray;"></i>
                                                <p class="card-text mx-2">{{ feature.feature.feature }}</p>
                                            </div>
                                        </li>
                                    {% endif %}
                               {% endfor %}
                              </ul>
                              <ul class="list-unstyled mx-lg-5">
                                {% for feature in room.features.all %}
                                    {% if forloop.counter >= 3 and forloop.counter < 6 %}
                                        <li class="mb-4">
                                            <div class="d-flex align-items-center">
                                                <i class="{{ feature.feature.icon }}" style="color: gray;"></i>
                                                <p class="card-text mx-2">{{ feature.feature.feature }}</p>
                                            </div>
                                        </li>
                                    {% endif %}
                               {% endfor %}
                              </ul>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 card border-dark">
                    <div class="row">
                        <div class="col-md-4 pt-4">
                            <h6 class>Tecnología</h6>
                            <ul class="list-unstyled">
                                <li>Aire acondicionado</li>
                                <li>TV LED 32"</li>
                                <li>Conexión Wi-Fi (sin cargo)</li>
                            </ul>
                        </div>
                        <div class="col-md-4 pt-4">
                            <h6>Mobiliario</h6>
                            <ul class="list-unstyled">
                                <li>Cama (2 x 2 m)  o 2 camas Full size (dobles) sujetas a disponibilidad</li>
                                <li>Minibar (sin cargo)</li>
                                <li>Cafetera (sin cargo)</li>
                                <li>Caja fuerte (sin cargo)</li>
                                <li>Sofá</li>
                            </ul>
                        </div>
                        <div class="col-md-4 pt-4">
                            <h6>Baño</h6>
                            <ul class="list-unstyled">
                                <li>Espejo de aumento</li>
                                <li>Ducha con efecto lluvia</li>
                                <li>Albornoz (sin cargo) | Bata de baño (sin cargo)</li>
                                <li>Secador de cabello | Secador de cabello</li>
                            </ul>
        
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-4">
    
            </div>

            <div class="row">
                <div class="col-sm-6 p-4">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Precio con MyBarcelo</h5>
                                <p class="card-text">{{ room.price }}</p>
                                <a href="#" class="btn btn-primary">Reservar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 p-4">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Precio con MyBarcelo</h5>
                                <p class="card-text">{{ room.price }}</p>
                                <a href="#" class="btn btn-primary">Reservar</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock content %}