<!-- Stay details -->
<div class="card mb-3 shadow-sm" style="max-width: 26rem;">
    <div class="card-header bg-transparent">
        <p><h6 class="fw-bold">Su estadía</h6></p>
        <div class="row">
            <div class="col-md-6">
                <p>Check-In</p>
            </div>
            <div class="col-md-6">
                <p>Check-out</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="fw-bold">hoy</p>
            </div>
            <div class="col-md-6">
                <p class="fw-bold">Check-out</p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <p>Sáb, 9 de dic de 2023-dom, 17 de dic de 2023 2 adultos.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="fw-bold"><a href="#" class="fw-normal">Doble</a><br>Pague ahora con todo incluido</p>
            </div>
            <div class="col-md-6">
                <p>Precio</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="fw-bold">Impuestos y Tasas</p>
            </div>
            <div class="col-md-6">
                <p>Precio</p>
            </div>
        </div>
    </div>
    <div class="card-footer bg-transparent">
        <div class="row">
            <div class="col-md-6">
                <p>Total:</p>
            </div>
            <div class="col-md-6">
                <p>Precio</p>
            </div>
        </div>
    </div>
</div>


