<option name="country" value="AF">AFGHANISTAN</option>
<option name="country" value="AL">ALBANIA</option>
<option name="country" value="DZ">ALGERIA</option>
<option name="country" value="AS">AMERICAN SAMOA</option>
<option name="country" value="AD">ANDORRA</option>
<option name="country" value="AO">ANGOLA</option>
<option name="country" value="AI">ANGUILLA</option>
<option name="country" value="AQ">ANTARCTICA</option>
<option name="country" value="AG">ANTIGUA AND BARBUDA</option>
<option name="country" value="AR">ARGENTINA</option>
<option name="country" value="AM">ARMENIA</option>
<option name="country" value="AW">ARUBA</option>
<option name="country" value="AU">AUSTRALIA</option>
<option name="country" value="AT">AUSTRIA</option>
<option name="country" value="AZ">AZERBAIJAN</option>
<option name="country" value="BS">BAHAMAS</option>
<option name="country" value="BH">BAHRAIN</option>
<option name="country" value="BD">BANGLADESH</option>
<option name="country" value="BB">BARBADOS</option>
<option name="country" value="BY">BELARUS</option>
<option name="country" value="BE">BELGIUM</option>
<option name="country" value="BZ">BELIZE</option>
<option name="country" value="BJ">BENIN</option>
<option name="country" value="BM">BERMUDA</option>
<option name="country" value="BT">BHUTAN</option>
<option name="country" value="BO">BOLIVIA</option>
<option name="country" value="BA">BOSNIA AND HERZEGOVINA</option>
<option name="country" value="BW">BOTSWANA</option>
<option name="country" value="BV">BOUVET ISLAND</option>
<option name="country" value="BR">BRAZIL</option>
<option name="country" value="IO">BRITISH INDIAN OCEAN TERRITORY</option>
<option name="country" value="BN">BRUNEI DARUSSALAM</option>
<option name="country" value="BG">BULGARIA</option>
<option name="country" value="BF">BURKINA FASO</option>
<option name="country" value="BI">BURUNDI</option>
<option name="country" value="KH">CAMBODIA</option>
<option name="country" value="CM">CAMEROON</option>
<option name="country" value="CA">CANADA</option>
<option name="country" value="CV">CAPE VERDE</option>
<option name="country" value="KY">CAYMAN ISLANDS</option>
<option name="country" value="CF">CENTRAL AFRICAN REPUBLIC</option>
<option name="country" value="TD">CHAD</option>
<option name="country" value="CL">CHILE</option>
<option name="country" value="CN">CHINA</option>
<option name="country" value="CX">CHRISTMAS ISLAND</option>
<option name="country" value="CC">COCOS (KEELING) ISLANDS</option>
<option name="country" value="CO">COLOMBIA</option>
<option name="country" value="KM">COMOROS</option>
<option name="country" value="CG">CONGO</option>
<option name="country" value="CD">CONGO, THE DEMOCRATIC REPUBLIC OF</option>
<option name="country" value="CK">COOK ISLANDS</option>
<option name="country" value="CR">COSTA RICA</option>
<option name="country" value="CI">CÃ”TE D'IVOIRE</option>
<option name="country" value="HR">CROATIA</option>
<option name="country" value="CU">CUBA</option>
<option name="country" value="CY">CYPRUS</option>
<option name="country" value="CZ">CZECH REPUBLIC</option>
<option name="country" value="DK">DENMARK</option>
<option name="country" value="DJ">DJIBOUTI</option>
<option name="country" value="DM">DOMINICA</option>
<option name="country" value="DO">DOMINICAN REPUBLIC</option>
<option name="country" value="EC">ECUADOR</option>
<option name="country" value="EG">EGYPT</option>
<option name="country" value="SV">EL SALVADOR</option>
<option name="country" value="GQ">EQUATORIAL GUINEA</option>
<option name="country" value="ER">ERITREA</option>
<option name="country" value="EE">ESTONIA</option>
<option name="country" value="ET">ETHIOPIA</option>
<option name="country" value="FK">FALKLAND
