{% extends '_base.html' %}

{% block title %}Hotel{% endblock title %}

{% block content %}
    <div class="p-4">
        <div class="jumbotron">
            <h1 class="display-4">Hotel</h1>
            <p class="lead">El <b>Hotel</b> es uno de los mejores hoteles en Punta Cana, ideal para disfrutar del sol, de la brisa del Caribe y de la belleza de un mar con arrecifes de coral y aguas cristalinas.</p>
            <hr class="my-4">
            <p>Ubicado a lo largo de una de las 10 mejores playas por National Geographic y Tripadvisor, este hotel 5 estrellas todo incluido en Punta Cana ofrece unas vacaciones de ensueño en su B-room con vistas, la mejor tecnología y detalles de lujo.
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'rooms' %}" role="button">Habitaciones</a>
            </p>
        </div>
    </div>
{% endblock content %}