{% extends '_base.html' %}

{% block title %}Hotel{% endblock title %}

{% block content %}

    <div class="pt-4">
    {% for type in room_types %}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ type.images.all.0.image.url }}" class="img-fluid rounded-start " style="max-width: 400px; max-height: 400px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body pl-5">
                        <div class="row">
                            <h5 class="card-title">{{ type.type }}<a class="link-info m-lg-5" href="{% url 'room_detail' type.uuid %}">Detalles</a></h5>
                            <p class="card-text">{{ type.short_description }}</p>
                        </div> 
                        <div class="text-end pt-lg-5">
                            <button class="btn btn-outline-success btn-lg">Reservar</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}