{% extendes '_base.html' %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
<div class="bg-light p-4">
  <div class="container border rounded p-4 shadow-sm bg-light">
    <form>
      <div class="row pb-4">
        <div class="col md-6">
          <h2>Sign Up</h2>
        </div>
        <div class="col md-6">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Name *</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label>Surname *</label>
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="form-group col md-6">
          <label>Birthdate *</label>
          <input type="date" class="form-control">
        </div>
        <div class="form-group col md-6">
          <label>Telephone</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col md-6">
          <label>Address * {Street, floor, letter, etc.}</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group col md-6">
          <label>Postcode *</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col md-6">
          <label>Province *</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group col md-6">
          <label>Town *</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col md-6">
          <label>Country of residence</label>
          <select class="form-select">
            <option>Dominican Republic</option>
          </select>
        </div>
        <div class="form-group col md-6">
        </div>
      </div>
      <div class="row">
        <div class="col md-6">
        </div>
        <div class="col md-6 text-center">
          <button type="submit" class="btn btn-success btn-lg">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
    